<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSHealthShareUsageDescription</key>
	<string>HaoTime reads your Apple Watch workouts to automatically log exercise time in the Sports category.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>HaoTime does not write health data. This key is required by the HealthKit framework.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
